@model WebQLKSORACLE.Models.Khachhang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/ADMIN/Views/Shared/_ADMINLayout.cshtml";
}

<h2>Create</h2>

<h4>Khachhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenKh" class="control-label"></label>
                <input asp-for="TenKh" class="form-control" />
                <span asp-validation-for="TenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailKh" class="control-label"></label>
                <input asp-for="EmailKh" class="form-control" />
                <span asp-validation-for="EmailKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdtKh" class="control-label"></label>
                <input asp-for="SdtKh" class="form-control" />
                <span asp-validation-for="SdtKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatkhauKh" class="control-label"></label>
                <input asp-for="MatkhauKh" class="form-control" />
                <span asp-validation-for="MatkhauKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangthaiKh" class="control-label"></label>
                <input asp-for="TrangthaiKh" class="form-control" />
                <span asp-validation-for="TrangthaiKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiachiKh" class="control-label"></label>
                <input asp-for="DiachiKh" class="form-control" />
                <span asp-validation-for="DiachiKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gioitinh" class="control-label"></label>
                <input asp-for="Gioitinh" class="form-control" />
                <span asp-validation-for="Gioitinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

