
@model WebQLKSORACLE.Models.Phong

@{
    ViewData["Title"] = "comfirmemail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <h2>Xác nhận đặt phòng thành công</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
