@model WebQLKSORACLE.Areas.ADMIN.ModelViews.ThongKe
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_ADMINLayout.cshtml";
}


<!-- .row -->
<div class="row small-spacing">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="box-content bg-success text-white">
            <div class="statistics-box with-icon">
              
                <p class="text text-white">Số khách hàng</p>
                <h2 class="counter">@Model.TongKH</h2>
            </div>
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-lg-3 col-md-6 col-xs-12 -->
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="box-content bg-info text-white">
            <div class="statistics-box with-icon">            
                <p class="text text-white">Tổng Thu</p>
                <h2 class="counter">@Model.TongThu.Value.ToString("#,###")</h2>
            </div>
        </div>
        <!-- /.box-content -->
    </div>

</div>
<!-- .row -->
